---
const { title } = Astro.props;
---

<section
  class="relative sticky top-0 z-30
         h-19
         px-15 pt-2
         bg-white/55 backdrop-blur-md
         flex items-center
         transition-all duration-500 ease-out"
>
  <!-- línea degradada mejorada -->
  <div
    class="pointer-events-none absolute bottom-0 left-0 w-full h-px
           bg-gradient-to-r
           from-transparent
           via-slate-300/60
           to-transparent"
  >
  </div>

  <!-- título -->
  <span
    class="w-full
           text-sm sm:text-[15px]
           text-green-950 font-medium tracking-tight
           truncate
           text-center lg:text-left
           transition-colors duration-300 ease-out"
  >
    {title}
  </span>
</section>
