---
import DocLayout from "../../layouts/DocLayout.astro.astro";
---

<DocLayout title="Convenciones">
  <h1 class="text-2xl font-semibold text-slate-900 mb-6">Convenciones SQL</h1>

  <ul class="list-disc pl-6 text-slate-600 space-y-2">
    <li>Usar nombres en snake_case</li>
    <li>Evitar SELECT *</li>
    <li>Indentar correctamente</li>
    <li>Alias claros y consistentes</li>
  </ul>
</DocLayout>
