---
import "../styles/global.css";

const { title = "Documentación" } = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body
    class="min-h-screen bg-white font-sans antialiased text-slate-700 selection:bg-emerald-700 selection:text-white"
  >
    <main
      class="relative isolate flex min-h-screen flex-col overflow-x-hidden"
      id="top"
    >
      <div
        class="absolute inset-0 -z-10 bg-[linear-gradient(to_right,#f1f5f9_1px,transparent_1px),linear-gradient(to_bottom,#f1f5f9_1px,transparent_1px)] bg-size-[4rem_4rem] mask-[radial-gradient(ellipse_80%_50%_at_50%_0%,#000_70%,transparent_100%)]"
      >
      </div>

      <div
        class="absolute inset-x-0 top-0 -z-10 h-96 bg-linear-to-b from-sky-50-50 to-transparent"
      >
      </div>

      <slot />
    </main>
  </body>
</html>
